.header {
    display: flex;
    flex-direction: column;
    height: 90px;
    background: #333440;
    color: #dadce1;
    padding: 0 10px;
    justify-content: space-around;
}
.headerInfo{
    display: flex;
    justify-content: space-between;
    color: #dadce1;
    align-items: center;
}


.temp{
    font-size: x-large;
    text-transform: uppercase;
    width: 40px;
}

.progressText {
    font-size: x-small;
    padding: 0 0 5px 10px;
}