.header {
    display: flex;
    flex-direction: column;
    height: 90px;
    background: #333440;
    color: #dadce1;
    padding: 0 10px;
    justify-content: space-around;
}
.headerInfo{
    display: flex;
    justify-content: space-between;
    color: #dadce1;
    align-items: center;
}


.timeBlock{
    size: 10px;
    font-size: x-small;
    border: solid #2b2d36;
    height: 25px;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.time{
    padding: 0 3px;
}

.oval1{
    height: 5px;
    width: 3px;
    background-color: #ee6f04;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}

.oval2{
    height: 5px;
    width: 3px;
    background-color: #ee6d04a4;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}

.oval3{
    height: 5px;
    width: 3px;
    background-color: #ee6d0478;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}

.textXlarge{
    font-size: x-large;
    text-transform: uppercase;

}

.progressText {
    font-size: x-small;
    padding: 0 0 5px 10px;
}