.dayBlock{
    background-color: #57565c;
    color: #dadce1;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.dayInfo {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 200px;
}