.dayBlock{
    background-color: #57565c;
    color: #dadce1;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin-bottom: 5px;
}

.dayInfo {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 170px;
    
}

.dayIcon  {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
    margin-right: 10px;
    align-items: flex-end;
    text-transform: uppercase;
}